<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Destination</th>
      <th>Departure Time</th>
    </tr>
  </thead>
  <tbody>
  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight[:airline] %></td>
      <td><%= flight[:flight_num] %></td>
      <td><%= flight[:destination] %></td>
      <td><%= flight[:departure_time] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="/">Back</a>